name: Adhoc Deploy To Cloudflare Pages

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Attempt to create the Cloudflare Pages project (will succeed if already exists)
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_USER_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          # The '|| true' ensures the workflow continues even if the project creation command fails 
          # because the project already exists (which is expected on subsequent runs)
          command: pages project create cfp-testbed1 --production-branch=${{ github.ref_name }}
          continue-on-error: true
      - name: Deploying to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_USER_API_TOKEN }}
          command: pages deploy .
          projectName: cfp-testbed1
          branch: ${{ github.ref_name }} # Optional: specify the branch name
