name: Adhoc Deploy To Cloudflare Pages

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Checkout Repository
      - uses: actions/checkout@v4
      - name: Deploying to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_USER_API_TOKEN }}
          command: pages deploy .
          projectName: cfp-testbed1
          branch: ${{ github.ref_name }} # Optional: specify the branch name
